*{
    margin: 0%;
    padding: 0%;
    box-sizing:border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{ 
    display: flex;
    background:url('./9019805.jpg');
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-position: center;
    background-size: cover;

}
.Register-Div{
    background:transparent;
    color: #ffffff;
    width: 400px;
    padding: 20px 40px;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow:0 0 30px;
    border: 2px solid rgba(255,255,255,.2);
}

.Register-Div h1{
    font-size: 35px;
    text-align: center;
}
.Register-Div .input{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 30px 0;
}
.input input{
    width: 100%;
    height: 50px;
    border:none;
    outline: none;
    border-radius: 40px;
    font-size: 15px;
    color: #fff;
    background: transparent;
    padding: 20px;
    border: 2px solid rgba(255,255,255,.2);
}
.input i{
    position: absolute;
    color: #ffffff;
    font-size: 25px;
    right: 10px;
    top: 25px;
    transform: translateY(-50%);
}
.input input::placeholder{
    color: #fff;
}

.button{
    text-align: center;
    outline: none;
    border: none;
    color: #fff;
    box-shadow: 0 0 10px rgb(0, 0, 0, -1);   
    font-size: 15px;
    font-weight: 700px;
    color:#333;
}
.button button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    outline: none;
    cursor: pointer;
    border: none;
}
.Register-Div .text{
    text-align: center;
    font-size: medium;
}
.text{
    margin: 15px 0px 0px 0px;
    justify-content: space-between;
    font-size: 15px;
}
.text a{
    color: #fff;
    text-decoration: none;
}

.text a:hover{
    text-decoration: underline;
    color: rgb(27, 3, 240);
}
